*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.conteiner{
    width: 100%;
    height: 100vh;
    background-color:  #b3e5c2;;
}
.nav-bar{
    width: 100%;
    height: 80px;
    background-color: aliceblue;
}
.nav-bar img{
    width: 150px;
    height: 50px;
    padding-top: 20px;
    padding-left: 150px;
}
.menu{
    float: right;
    padding-top: 30px;
    padding-right: 100px;
}
.menu a{
    padding: 15px;
    color: #000;
}
.menu a:hover{
    color: blue;
}

.btn{
    background-color: rgb(7, 195, 195);
    border: none;
    color: white;
    width: 70px;
    height: 28px;
    border-radius: 10px;
}
.btn:hover{
    background-color: blue;
}
.learn img{
    float: right;
    width: 600px;
    height: 400px;
    padding-right: 100px;
    margin-top: -280px;
}
.learn {
    padding-top: 100px; 
    padding-left: 150px;
}
.btn2{
    margin-top: 40px;
    border: none;
    background-color: rgb(0, 143, 252);
    width: 140px;
    height: 30px;
    border-radius: 15px;
    color: white;
}
.btn2:hover{
    background-color: rgb(155, 57, 241);
}
.learn p {
    padding-top: 30px; 
}
.learn h2 {
    padding-top: 10px; 
    font-size: 40px;
    color: rgb(73, 4, 245);
}
.learn h1 {
    padding-top: 30px;
    font-size: 60px; 
}
.learn h3 {
    color: red; 
}
.course{
    width: 100%;
    height: 40vh;
    color: white;
    display: flex;
    background-color: white;
}
.student{
    box-shadow: -3px 5px 20px -4px #000;;
    width: 200px;
    height: 250px;
    background-color: #d0e5d6;
    margin-left: 120px;
    margin-top: 20px;
    border-radius: 10px;
    transition: transfrom: 0.5s;
}
.student:hover {
    background-color: white;
    transform: scale(1.1);
}
.student img{
    width: 80px;
    height: 120px;
    margin-left: 60px;
    margin-top: 40px;
}
.student h3{
    color: #000;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 25px;
}
.student p{
    color: #000;
    margin-left: 40px;
    margin-top: 10px;
}
.online{
    width: 100%;
    height: 70vh;
    background-color: aqua;
    display: flex;
}
.online h1{
    text-align: center;
}
.modern{
    box-shadow: -3px 5px 20px -4px #000;;
    width: 300px;
    height: 380px;
    background-color: white ;
    border-radius: 10px;
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 100px;
}
.online img{
    width: 250px;
    height: 200px;
    margin-left: 10px;
    margin-top: 10px;
}
.date{
    display: flex;
}
.date img{
    width: 30px;
    height: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

.modern h3{
   padding-left: 10px;
   padding-top: 10px;
   font-size: 25px;
}
.dgn{
    padding-left: 10px;
    padding-top: 10px;
}
.btn3{
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    background-color: rgb(0, 143, 252);
    width: 140px;
    height: 30px;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}
.btn3:hover{
    background-color: rgb(155, 57, 241);
}
.december{
    padding-left: 10px;
    padding-top: 20px;
}
.about-me{
    width: 100%;
    height: 50vh;
    background-color: white;
}
.about-me h2{
    text-align: center;
    padding-top: 50px;
    font-size: 35px;
}
.man{
    display: flex;
    align-items: center;
    margin-left: 400px;
    margin-top: 50px;
}
.man img{
    width: 100px;
    height: 100px;
}
.lorem{
    margin-left: 30px;
}
.lost-menu{
    width: 100%;
    height: 50vh;
    background-color: rgb(34, 33, 33);
    
}
.pro{
    color: white;
    margin-top: 95px;
}
.lost-nav{
    display: grid;
    padding: 90px;
}
.lost-nav a{
    padding: 5px;
}
.lost-nav a:hover{
    color: aqua;
}
.all-nav{
    display: flex;
    float: right;
}
.all-nav a{
    color: azure;
    font-size: 20px;
}
.cmb{
    color: aliceblue;
    font-size: 30px;
    color: aqua;
}
.copy{
    color: rgb(167, 168, 170);
    margin-top: 170px;
    margin-left: 50px;
}
@media screen and (max-width:650px) {
    .conteiner{
        width: 201vh;
        height: 100vh;
        background-color:  #b3e5c2;;
    }
    .course{
        width: 190vh;
        height: 60vh;
        color: white;
        display: flex;
        margin-top: 50px;
    }
    .online{
        width: 1000px;
        height: 300vh;
        display: inline;
    }
    .modern{
        margin-left: +400px;
        width: 600px;
        height: 800px;
    }
    .online img{
        width: 89vh;
        height: 450px;
    }
   
    .modern h3{
       
        font-size: 45px;
     }
     .dgn{
        font-size: 40px;
         
     }
     .btn3{
        width: 220px;
        height: 40px;
        font-size: 25px;
        margin-top: 30px;
        margin-left: 30px;
     }
.date img{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 30px;
}
    .december{
       font-size: 30px;
       margin-top: 27px;
    }
    .about-me{
        width: 200vh;
        height: 100vh;
        background-color: white;
    }
    .about-me h2{
        margin-top: 100px;
        margin-left: 200px;
        font-size: 55px;
    }
    .man img{
         margin-left: -100px;
        width: 200px;
        height: 200px;
    }
    .lorem{
        font-size: 25px;
        text-align: justify;
    }
    .lost-menu{
        width: 200vh;
        height: 85vh;
    }
    .lost-menu a{
        padding: 10px;
    }
    .lost-nav a:hover{
        color: aqua;
    }
    .lost-nav{
        margin-top: 40px;
        padding: 50px;
    }
    .copy{
        margin-top: 300px;
    }
}